<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Randonnée</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header text-center>
            <h2>{{randonnee.titre}}</h2>
            <div>
                <ion-icon name="star" *ngIf="randonnee.note > 0"></ion-icon>
                <ion-icon name="star" *ngIf="randonnee.note > 1"></ion-icon>
                <ion-icon name="star" *ngIf="randonnee.note > 2"></ion-icon>
                <ion-icon name="star" *ngIf="randonnee.note > 3"></ion-icon>
                <ion-icon name="star" *ngIf="randonnee.note > 4"></ion-icon>
            </div>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-grid>
                        <ion-row>
                            <ion-col text-right>
                                <ion-icon name="ios-pin-outline"></ion-icon>
                            </ion-col>
                            <ion-col><span>{{randonnee.adresse}}</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-right>
                                <ion-icon name="ios-time-outline"></ion-icon>
                            </ion-col>
                            <ion-col><span>{{randonnee.duree}}</span></ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col text-right>
                                <ion-icon name="ios-trending-up-outline"></ion-icon>
                            </ion-col>
                            <ion-col><span>{{randonnee.denivele}}</span></ion-col>
                        </ion-row>
                    </ion-grid>
                    <button ion-button secondary (click)="startRando()">Demarrer randonnée</button>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <div #map id="map"></div>
</ion-content>

